*, body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}


/*  HEADER */
#nav-header{
    padding: 0;
    background-color: rgba(5, 5, 5, 0.8);
    padding: 1%;
    color: #fff;
    
}
#nav-header ul li {
    display: inline-block;
    padding-right: 4px;
    margin: 2px 20px;
    
    
}
#nav-header ul li a {
    color: #fff;
    text-decoration:none;
    
}
#nav-header ul li a:hover{
    font-weight: bold;
    
}

/* FIM HEADER */

body{
    background-color: yellow;
    margin:0;
}


#area-canvas{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 30px 80px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
}

#texto-area-canvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}


/* FOOTER */
footer{
    background-color: rgba(5, 5, 5, 0.8);
    padding: 10px; 
    margin:0;  
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    padding: 20px; 
    text-align: center; 
  }

#footer-center{
    color:#fff
}
#footer-center-logo{
    width: 70px;
}
#footer-center-logo:hover{
    width: 70px;
    transform: scale(1.1);
}
 /*FIM FOOTER*/
